@use '../variables' as var;
@use '../mixin' as mixin;

/* ul에(또는 그 역할을하는 요소에) 해당 클래스 추가 */
.list-horizontal {
  display: inline-flex;
  align-items: center;
  height: 100%;
  &__item {
    display: inline-block;
    height: 100%;
    line-height: 4.8rem;
    font-size: var.$font-size;
  }
  &__item button {
    display: inline-block;
    margin-left: 0.8rem;
    padding: 1rem;
    color: #b9bbbe;
    line-height: 1;
  }
}

.list-vertical {
  &__item:not(.chatterlist) {
    color: #96989d;
    padding: 0 2rem 0 1rem;
    margin-bottom: 0.4rem;
  }

  &__item a:not(.center-vertical) {
    display: inline-block;
  }

  &__item a {
    width: 100%;
    padding: 0.4rem;
    padding-left: 1rem;
    border-radius: 5px;
    &:hover {
      background-color: #3c3f45;
    }
  }

  &__item.selected a {
    background-color: #42464d;
    color: #fff;
    font-weight: 500;
  }
}

.ws-item {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  &.selected {
    border: 2px solid var(--primary-green);
    border-radius: 10px;
  }
  &.home.selected {
    border: 2px solid var(--primary-blue);
    border-radius: 10px;
  }
}
/*  */
.chatterlist {
  position: relative;
  @include mixin.setFlex(flex, space-between, center);
  color: #96989d;
  &:hover a {
    background-color: var(--hovered-gray);
  }
  margin-bottom: 1.2rem;
  .util {
    position: absolute;
    right: 1rem;
  }
  .util button {
    background-color: var(--side-pen-gray);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 1rem;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--darkest-gray);
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #42464d;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px var(--darkest-gray);
}

.profile-img {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--primary-green);
  border-radius: 50%;
  overflow: hidden;

  img {
    @include mixin.setPosition(absolute, 0, 0, 0, 0);
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
  }
}

.vertical + .ws--lists li {
  width: 100%;
}
.ws--lists {
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 17rem);
  overflow-y: auto;
  margin: 0 auto;
  padding: 1.6rem;

  li {
    display: inline-block;
    width: 23.5%;
    height: auto;
    padding: 2rem;
    margin: 0.7rem;
    border-radius: 1rem;
    background-color: #eee;
    transition: 0.3s;
    box-shadow: 0.1rem 0.1rem 0.7rem rgba($color: #090909, $alpha: 0.8);
    background-color: var(--darkest-gray);
    background: url(../../images/backimg.jpg);
  }

  li:hover {
    opacity: 0.7;
  }

  .h3 {
    color: #090909;
    margin-bottom: 1rem;
  }

  .ws--title {
    color: #090909;
    margin-bottom: 3rem;
  }
  .ws--summary {
    color: #090909;
  }
}
